{% extends "base.html" %}

{% block content %}

{% load mptt_tags %}

<section class="management-hierarchy">
    <div class="hv-container">
        <div class="hv-wrapper">
            {% recursetree employees %}
                {% if not node.is_leaf_node %}
                    <div class="hv-item">
                        <div class="hv-item-parent">
                            <div class="person">
                                <img src="https://pbs.twimg.com/profile_images/762654833455366144/QqQhkuK5.jpg" alt="">
                                <p class="name">{{ node.name }}</p>
                            </div>
                        </div>
                        <div class="hv-item-children">
                            <div class="hv-item-child">
                                {% if node.level == 0 %}
                                    <div class="hv-item">
                                {% endif %}    
                                    {{ children }}
                                {% if node.level == 0 %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                {% else %}
                    <div class="person">
                        <img src="https://pbs.twimg.com/profile_images/762654833455366144/QqQhkuK5.jpg" alt="">
                        <p class="name">{{ node.name }}</p>
                    </div>
                {% endif %}
                </div>
            {% endrecursetree %}
            </div>
        </div>
    </div>
</section>


{% endblock %}